* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: auto;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: rgb(0, 86, 179);
}

.header ul {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
}

.header ul li {
    margin: 0 10px;
}

.Home_Button, .Store_Button, .Contact_Us_Button, .Category_Button {
    padding: 10px;
    border: 0;
    color: rgb(240, 255, 255);
    background-color: rgb(0, 86, 179);
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 1s ease;
}

.Home_Button:hover, .Store_Button:hover, .Contact_Us_Button:hover {
    background-color: rgb(15, 50, 61);

}

.Category_Button:hover {
background-color: rgb(15, 50, 61);
}

.Drop_Down {
    position: relative;
    display: inline-block;
    
}

.Drop_Down_Content {
    display: none;
    position: absolute;
    min-width: 160px;
    padding: 12px 0;
    z-index: 1;
    backdrop-filter: blur(18px) saturate(50%);
    -webkit-backdrop-filter: blur(18px) saturate(50%);
    background-color: rgba(12, 50, 121, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.Drop_Down_Content div {
    width: 160px;
    padding: 10px;
    border: 0;
    cursor: pointer;
    transition: background-color 1s ease;
}

.Drop_Down_Content a {
    width: fit-content;
    color: rgb(240, 255, 255);
    text-decoration: none;
}
.Drop_Down_Content div:hover {
    background-color: rgba(12, 50, 121, 1);

}
.Drop_Down:hover .Drop_Down_Content {
    display: block;
}