.container {
    width: 100%;
    height: auto;
    display: flex;
}

.div1 {
    width: 220px;
    height: 330px;
    margin: 5px;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    text-align: center;
}

.new_or_off_1, .new_or_off_2, .new_or_off_3, .new_or_off_4 {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    background-color: rgb(202, 200, 200);
    border-radius: 15px 15px 0 0;
}

.off_1 {
    width: 40%;
    height: 100%;
    background-color: rgb(145, 24, 24);
    border-radius: 15px 0 0 0;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.category_button_1 {
    width: 77px;
    height: 100%;
    background-color: rgb(127, 255, 212);
    border-radius: 0 0 0 0;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    cursor: pointer;
}

.new_1 {
    width: 25%;
    height: 100%;
    background-color: rgb(26, 113, 26);
    text-decoration: none;
    border-radius: 0 15px 0 0;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border: 0;
}

.off_2 {

    width: 40%;
    height: 100%;
    background-color: rgb(145, 24, 24);
    border-radius: 15px 0 0 0;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.category_button_2 {
    width: 77px;
    height: 100%;
    background-color: rgb(127, 255, 212);
    border-radius: 0 15px 0 0;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    cursor: pointer;
}

.new_3 {
    width: 25%;
    height: 100%;
    background-color: rgb(26, 113, 26);
    border-radius: 0 15px 0 0;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border: 0;
}

.category_button_3 {
    width: 77px;
    height: 100%;
    background-color: rgb(127, 255, 212);
    border-radius: 15px 0 0 0;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    cursor: pointer;
}

.category_button_4 {
    width: 77px;
    height: 100%;
    background-color: rgb(127, 255, 212);
    border-radius: 15px 15px 0 0;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    cursor: pointer;
}


.pro_title {
    margin-top: 25px;
    margin-bottom: auto;
}

.details_button {
    margin-bottom: 20px;
    padding: 10px 20px;
    background: rgb(0, 86, 179);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
}

.details_button:hover {
    background: rgb(15, 50, 61);
}