#loginChecker {
    position: relative;
}

#blockerDiv {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    justify-content: center;
    align-items: center;
    text-align: center;
    backdrop-filter: blur(2px) saturate(100%);
    -webkit-backdrop-filter: blur(2px) saturate(100%);
    background-color: rgba(17, 25, 40, 0.2);
    border-radius: 0.5rem;
    opacity: 0;
    transition: opacity 0.4s ease;
}

#loginChecker:hover #blockerDiv {
    opacity: 1;
}

#blockerDiv a {
    color: #ed1944;
}