{% extends "Layout.html" %}
{% block title %}
    {{ a_s_l.title }}
{% endblock %}

{% block css_code %}
    <link rel="stylesheet" href="/static/css/Product_Details_Page_Style.css">
{% endblock %}
{% block container %}
    <h1>{{ a_s_p.title }}</h1>
    <h2>Price: {{ a_s_p.price }}</h2>
    <h3>Colors:</h3>
    <div class="Colors_Box">
        {% for pro in pro_color %}
            <div class="Color_Boxes" style="width: 20px; height: 20px; margin: 5px 4px; border: 1px solid; background-color: {{ pro.hex_code }}"></div>
        {% endfor %}
    </div>

    <h3>Description:</h3>
    <p>{{ a_s_l.description }}</p>
{% endblock %}