{% extends "Layout.html" %}

{% block title %}
    Store
{% endblock %}

{% block css_code %}
    <link rel="stylesheet" href="/static/css/Products_Page_Style.css">
{% endblock %}

{% block container %}
    {% for pro in pros %}
        <div class="div1">
            {% if pro in new_pros and pro.off %}
                <div class="new_or_off_1">
                    <div class="off_1">{{ pro.off }}% OFF</div>
                    <a href="{% url 'category_content' pro.category.slug %}">
                        <button class="category_button_1">{{ pro.category.title }}</button>
                    </a>
                    <div class="new_1">new</div>
                </div>
            {% elif pro not in new_pros and pro.off %}
                <div class="new_or_off_2">
                    <div class="off_2">{{ pro.off }}% OFF</div>
                    <a href="{% url 'category_content' pro.category.slug %}">
                        <button class="category_button_2">{{ pro.category.title }}</button>
                    </a>
                </div>
            {% elif not pro.off %}
                <div class="new_or_off_3">
                    <a href="{% url 'category_content' pro.category.slug %}">
                        <button class="category_button_3">{{ pro.category.title }}</button>
                    </a>
                    <div class="new_3">new</div>
                </div>
            {% elif pro not in new_pros and not pro.off %}
                <div class="new_or_off_4">
                    <a href="{% url 'category_content' pro.category.slug %}">
                        <button class="category_button_4">{{ pro.category.title }}</button>
                    </a>
                </div>
            {% endif %}
            <h1 class="pro_title">{{ pro.title }}</h1>

            <a href="{% url 'product_details' pro.slug %}">
                <button class="details_button">Details</button>
            </a>
        </div>
    {% endfor %}
{% endblock %}
