{% load poll_extras %}

<div class="mt-2 flex gap-x-4 items-center border-b border-zinc-400 pb-3">
    <p class="text-zinc-800 md:text-lg mb-1 mt-4">
        دیدگاه ها
    </p>
</div>
<div class="lg:flex gap-5">
    <div class="lg:w-3/12 py-5">
        <div class="mt-4 mb-2 text-sm text-zinc-700">
            شما هم دیدگاه خود را ثبت کنید
        </div>
        {% if request.user.is_authenticated %}
            <ul class="grid my-3 gap-5 grid-cols-2">
                <li>
                    <input type="radio" id="yes" name="hosting" value="yes" class="hidden peer"
                           required="">
                    <label for="yes"
                           class="inline-flex items-center justify-center w-full px-2 py-3 text-gray-600 bg-white border border-gray-200 rounded-lg cursor-pointer peer-checked:border-green-400 peer-checked:text-green-500 hover:text-gray-600 hover:bg-gray-100">
                        <div class="flex items-center gap-x-1">
                            <svg class="fill-green-500" xmlns="http://www.w3.org/2000/svg"
                                 width="22"
                                 height="22" fill="" viewBox="0 0 256 256">
                                <path d="M234,80.12A24,24,0,0,0,216,72H160V56a40,40,0,0,0-40-40,8,8,0,0,0-7.16,4.42L75.06,96H32a16,16,0,0,0-16,16v88a16,16,0,0,0,16,16H204a24,24,0,0,0,23.82-21l12-96A24,24,0,0,0,234,80.12ZM32,112H72v88H32ZM223.94,97l-12,96a8,8,0,0,1-7.94,7H88V105.89l36.71-73.43A24,24,0,0,1,144,56V80a8,8,0,0,0,8,8h64a8,8,0,0,1,7.94,9Z"></path>
                            </svg>
                            <div class="text-sm">پیشنهاد میشود</div>
                        </div>
                    </label>
                </li>
                <li>
                    <input type="radio" id="no" name="hosting" value="no" class="hidden peer"
                           required="">
                    <label for="no"
                           class="inline-flex items-center justify-center w-full px-2 py-3 text-gray-600 bg-white border border-gray-200 rounded-lg cursor-pointer peer-checked:border-red-400 peer-checked:text-red-400 hover:text-gray-600 hover:bg-gray-100">
                        <div class="flex items-center gap-x-1">
                            <svg class="fill-red-500" xmlns="http://www.w3.org/2000/svg" width="22"
                                 height="22"
                                 fill="" viewBox="0 0 256 256">
                                <path d="M239.82,157l-12-96A24,24,0,0,0,204,40H32A16,16,0,0,0,16,56v88a16,16,0,0,0,16,16H75.06l37.78,75.58A8,8,0,0,0,120,240a40,40,0,0,0,40-40V184h56a24,24,0,0,0,23.82-27ZM72,144H32V56H72Zm150,21.29a7.88,7.88,0,0,1-6,2.71H152a8,8,0,0,0-8,8v24a24,24,0,0,1-19.29,23.54L88,150.11V56H204a8,8,0,0,1,7.94,7l12,96A7.87,7.87,0,0,1,222,165.29Z"></path>
                            </svg>
                            <div class="text-sm">پیشنهاد نمیشود</div>
                        </div>
                    </label>
                </li>
            </ul>
            <form id="comment_form" method="post" onsubmit="send_comment({{ a_s_b.id }}); return false">
                {% csrf_token %}
                <textarea placeholder="متن دیدگاه" id="comment_text" name="text" cols="30" rows="7"
                          class="rounded-2xl rounded-tr-sm text-sm text-zinc-600 w-full bg-white border border-zinc-200 px-5 py-3.5 placeholder:text-zinc-400 placeholder:text-xs focus:outline-1 focus:outline-zinc-300"></textarea>
                <a><input
                        class="hidden lg:block mx-auto cursor-pointer w-full px-2 py-3 text-sm bg-gradient-to-bl from-primary-500 to-primary-400 hover:opacity-90 transition text-gray-100 rounded-lg"
                        type="submit" value="ثبت دیدگاه"></a>
            </form>
        {% else %}
            <div id="loginChecker">
                <ul class="grid my-3 gap-5 grid-cols-2">
                    <li>
                        <input type="radio" id="yes" name="hosting" value="yes" class="hidden peer"
                               required="">
                        <label for="yes"
                               class="inline-flex items-center justify-center w-full px-2 py-3 text-gray-600 bg-white border border-gray-200 rounded-lg cursor-pointer peer-checked:border-green-400 peer-checked:text-green-500 hover:text-gray-600 hover:bg-gray-100">
                            <div class="flex items-center gap-x-1">
                                <svg class="fill-green-500" xmlns="http://www.w3.org/2000/svg"
                                     width="22" height="22" fill=""
                                     viewBox="0 0 256 256">
                                    <path
                                            d="M234,80.12A24,24,0,0,0,216,72H160V56a40,40,0,0,0-40-40,8,8,0,0,0-7.16,4.42L75.06,96H32a16,16,0,0,0-16,16v88a16,16,0,0,0,16,16H204a24,24,0,0,0,23.82-21l12-96A24,24,0,0,0,234,80.12ZM32,112H72v88H32ZM223.94,97l-12,96a8,8,0,0,1-7.94,7H88V105.89l36.71-73.43A24,24,0,0,1,144,56V80a8,8,0,0,0,8,8h64a8,8,0,0,1,7.94,9Z">
                                    </path>
                                </svg>
                                <div class="text-sm">پیشنهاد میشود</div>
                            </div>
                        </label>
                    </li>
                    <li>
                        <input type="radio" id="no" name="hosting" value="no" class="hidden peer"
                               required="">
                        <label for="no"
                               class="inline-flex items-center justify-center w-full px-2 py-3 text-gray-600 bg-white border border-gray-200 rounded-lg cursor-pointer peer-checked:border-red-400 peer-checked:text-red-400 hover:text-gray-600 hover:bg-gray-100">
                            <div class="flex items-center gap-x-1">
                                <svg class="fill-red-500" xmlns="http://www.w3.org/2000/svg"
                                     width="22" height="22" fill=""
                                     viewBox="0 0 256 256">
                                    <path
                                            d="M239.82,157l-12-96A24,24,0,0,0,204,40H32A16,16,0,0,0,16,56v88a16,16,0,0,0,16,16H75.06l37.78,75.58A8,8,0,0,0,120,240a40,40,0,0,0,40-40V184h56a24,24,0,0,0,23.82-27ZM72,144H32V56H72Zm150,21.29a7.88,7.88,0,0,1-6,2.71H152a8,8,0,0,0-8,8v24a24,24,0,0,1-19.29,23.54L88,150.11V56H204a8,8,0,0,1,7.94,7l12,96A7.87,7.87,0,0,1,222,165.29Z">
                                    </path>
                                </svg>
                                <div class="text-sm">پیشنهاد نمیشود</div>
                            </div>
                        </label>
                    </li>
                </ul>
                <textarea placeholder="متن دیدگاه" name="mailTicket" cols="30" rows="7"
                          class="rounded-2xl rounded-tr-sm text-sm text-zinc-600 w-full bg-white border border-zinc-200 px-5 py-3.5 placeholder:text-zinc-400 placeholder:text-xs focus:outline-1 focus:outline-zinc-300"></textarea>
                <button
                        class="hidden lg:block mx-auto cursor-pointer w-full px-2 py-3 text-sm bg-gradient-to-bl from-primary-500 to-primary-400 hover:opacity-90 transition text-gray-100 rounded-lg">
                    ارسال دیدگاه
                </button>
                <div id="blockerDiv">
                    ابتدا باید وارد <a href="{% url 'login_register' %}">حساب کاربری</a> خود شوید
                </div>
            </div>
        {% endif %}
    </div>
    <div class="lg:w-9/12 divide-y-2 divide-zinc-300">
        {% for comment in comments %}
            {% if comment.is_published %}
                <div class="px-2 pt-5">
                    <div class="flex items-center gap-x-1 pt-3">
                        <svg class="fill-red-500" xmlns="http://www.w3.org/2000/svg" width="22"
                             height="22"
                             fill=""
                             viewBox="0 0 256 256">
                            <path d="M239.82,157l-12-96A24,24,0,0,0,204,40H32A16,16,0,0,0,16,56v88a16,16,0,0,0,16,16H75.06l37.78,75.58A8,8,0,0,0,120,240a40,40,0,0,0,40-40V184h56a24,24,0,0,0,23.82-27ZM72,144H32V56H72Zm150,21.29a7.88,7.88,0,0,1-6,2.71H152a8,8,0,0,0-8,8v24a24,24,0,0,1-19.29,23.54L88,150.11V56H204a8,8,0,0,1,7.94,7l12,96A7.87,7.87,0,0,1,222,165.29Z"></path>
                        </svg>
                        <div class="text-sm text-red-500">مفید بود</div>
                    </div>
                    <div class="mt-2 flex gap-x-4 items-center border-b border-zinc-200 pb-3">
                        <div class="text-xs text-zinc-600">
                            {{ comment.create_at|jalali_date_2 }}
                        </div>
                        <div class="text-xs text-zinc-600">
                            {{ comment.user.username }}
                        </div>
                    </div>
                    <div class="mt-2 text-zinc-600 text-sm">
                        {{ comment.text }}
                    </div>
                    <div class="flex justify-end items-center gap-x-5 mt-3">
                        <div class="text-sm text-zinc-400">
                            آیا این دیدگاه برایتان مفید بود؟
                        </div>
                        <ul class="grid my-3 gap-5 grid-cols-2">
                            <li>
                                <input type="radio" id="isgood2" name="what2" value="isgood2"
                                       class="hidden peer"
                                       required="">
                                <label for="isgood2"
                                       class="inline-flex p-2 border border-gray-200 rounded-lg cursor-pointer peer-checked:border-green-400 hover:bg-gray-100">
                                    <svg class="fill-green-500" xmlns="http://www.w3.org/2000/svg"
                                         width="22"
                                         height="22" fill="" viewBox="0 0 256 256">
                                        <path d="M234,80.12A24,24,0,0,0,216,72H160V56a40,40,0,0,0-40-40,8,8,0,0,0-7.16,4.42L75.06,96H32a16,16,0,0,0-16,16v88a16,16,0,0,0,16,16H204a24,24,0,0,0,23.82-21l12-96A24,24,0,0,0,234,80.12ZM32,112H72v88H32ZM223.94,97l-12,96a8,8,0,0,1-7.94,7H88V105.89l36.71-73.43A24,24,0,0,1,144,56V80a8,8,0,0,0,8,8h64a8,8,0,0,1,7.94,9Z"></path>
                                    </svg>
                                </label>
                            </li>
                            <li>
                                <input type="radio" id="isbad2" name="what2" value="isbad2"
                                       class="hidden peer"
                                       required="">
                                <label for="isbad2"
                                       class="inline-flex p-2 border border-gray-200 rounded-lg cursor-pointer peer-checked:border-red-400 hover:bg-gray-100">
                                    <svg class="fill-red-500" xmlns="http://www.w3.org/2000/svg"
                                         width="22"
                                         height="22" fill="" viewBox="0 0 256 256">
                                        <path d="M239.82,157l-12-96A24,24,0,0,0,204,40H32A16,16,0,0,0,16,56v88a16,16,0,0,0,16,16H75.06l37.78,75.58A8,8,0,0,0,120,240a40,40,0,0,0,40-40V184h56a24,24,0,0,0,23.82-27ZM72,144H32V56H72Zm150,21.29a7.88,7.88,0,0,1-6,2.71H152a8,8,0,0,0-8,8v24a24,24,0,0,1-19.29,23.54L88,150.11V56H204a8,8,0,0,1,7.94,7l12,96A7.87,7.87,0,0,1,222,165.29Z"></path>
                                    </svg>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            {% elif not comment.is_published %}
                {% if comment.user == request.user %}
                    <div class="px-2 pt-5">
                        <div class="flex items-center gap-x-1 pt-3">
                            <svg class="fill-red-500" xmlns="http://www.w3.org/2000/svg" width="22"
                                 height="22"
                                 fill=""
                                 viewBox="0 0 256 256">
                                <path d="M239.82,157l-12-96A24,24,0,0,0,204,40H32A16,16,0,0,0,16,56v88a16,16,0,0,0,16,16H75.06l37.78,75.58A8,8,0,0,0,120,240a40,40,0,0,0,40-40V184h56a24,24,0,0,0,23.82-27ZM72,144H32V56H72Zm150,21.29a7.88,7.88,0,0,1-6,2.71H152a8,8,0,0,0-8,8v24a24,24,0,0,1-19.29,23.54L88,150.11V56H204a8,8,0,0,1,7.94,7l12,96A7.87,7.87,0,0,1,222,165.29Z"></path>
                            </svg>
                            <div class="text-sm text-red-500">مفید بود</div>
                        </div>
                        <div class="mt-2 flex gap-x-4 items-center border-b border-zinc-200 pb-3">
                            <div class="text-xs text-zinc-600">
                                {{ comment.create_at|jalali_date_2 }}
                            </div>
                            <div class="text-xs text-zinc-600">
                                {{ comment.user.username }}
                            </div>
                            <div class="text-xs text-zinc-50 bg-orange-400 rounded-full px-2 py-1">
                                در انتظار تایید...
                            </div>
                        </div>
                        <div class="mt-2 text-zinc-600 text-sm">
                            {{ comment.text }}
                        </div>
                        <div class="flex justify-end items-center gap-x-5 mt-3">
                            <div class="text-sm text-zinc-400">
                                آیا این دیدگاه برایتان مفید بود؟
                            </div>
                            <ul class="grid my-3 gap-5 grid-cols-2">
                                <li>
                                    <input type="radio" id="isgood2" name="what2" value="isgood2"
                                           class="hidden peer"
                                           required="">
                                    <label for="isgood2"
                                           class="inline-flex p-2 border border-gray-200 rounded-lg cursor-pointer peer-checked:border-green-400 hover:bg-gray-100">
                                        <svg class="fill-green-500"
                                             xmlns="http://www.w3.org/2000/svg"
                                             width="22"
                                             height="22" fill="" viewBox="0 0 256 256">
                                            <path d="M234,80.12A24,24,0,0,0,216,72H160V56a40,40,0,0,0-40-40,8,8,0,0,0-7.16,4.42L75.06,96H32a16,16,0,0,0-16,16v88a16,16,0,0,0,16,16H204a24,24,0,0,0,23.82-21l12-96A24,24,0,0,0,234,80.12ZM32,112H72v88H32ZM223.94,97l-12,96a8,8,0,0,1-7.94,7H88V105.89l36.71-73.43A24,24,0,0,1,144,56V80a8,8,0,0,0,8,8h64a8,8,0,0,1,7.94,9Z"></path>
                                        </svg>
                                    </label>
                                </li>
                                <li>
                                    <input type="radio" id="isbad2" name="what2" value="isbad2"
                                           class="hidden peer"
                                           required="">
                                    <label for="isbad2"
                                           class="inline-flex p-2 border border-gray-200 rounded-lg cursor-pointer peer-checked:border-red-400 hover:bg-gray-100">
                                        <svg class="fill-red-500" xmlns="http://www.w3.org/2000/svg"
                                             width="22"
                                             height="22" fill="" viewBox="0 0 256 256">
                                            <path d="M239.82,157l-12-96A24,24,0,0,0,204,40H32A16,16,0,0,0,16,56v88a16,16,0,0,0,16,16H75.06l37.78,75.58A8,8,0,0,0,120,240a40,40,0,0,0,40-40V184h56a24,24,0,0,0,23.82-27ZM72,144H32V56H72Zm150,21.29a7.88,7.88,0,0,1-6,2.71H152a8,8,0,0,0-8,8v24a24,24,0,0,1-19.29,23.54L88,150.11V56H204a8,8,0,0,1,7.94,7l12,96A7.87,7.87,0,0,1,222,165.29Z"></path>
                                        </svg>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
</div>
