{% load render_partial %}
{% load static %}

<!DOCTYPE html>

<html lang="fa" dir="rtl" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/assets/image/fav.png">
    <script src="/static/assets/sweetalert2/dist/sweetalert2.all.min.js"></script>

    <title>
        {% block title %}

        {% endblock %}
    </title>

    {% block css %}
        <link rel="stylesheet" href="/static/assets/sweetalert2/dist/sweetalert2.min.css">
        <link rel="stylesheet" href="/static/assets/css/main.css">
        <link rel="stylesheet" href="/static/assets/css/blogSingle.css">
    {% endblock %}
</head>

<body>

{% if messages %}
    {% for message in messages %}
        <div class="{{ message.tags }}" hidden="hidden" id="alert-message">{{ message }}</div>
    {% endfor %}
{% endif %}

<!-- loading -->
<div id="loading"
     class="z-50 fixed inset-0 flex flex-col items-center justify-center bg-gradient-to-bl from-zinc-50 to-zinc-100 transition-opacity duration-700">
    <div class="wrapper">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="shadow"></div>
        <div class="shadow"></div>
        <div class="shadow"></div>
    </div>
    <div class="flex items-center gap-6 mt-10">
        <img class="max-w-20 md:max-w-36" src="/static/assets/image/logo.png" alt=""/>
        <div class="text-xl md:text-3xl font-yekanBakhExtraBold text-zinc-800">فروشگاه آنلاین دیجیتو</div>
    </div>
</div>

<!-- progress bar -->
<div id="progressBar"></div>

{% render_partial "Home_App.views.header_component" %}

<div class="container">

    {% block container %}

    {% endblock %}

</div>

{% render_partial "Home_App.views.footer_component" %}

<script>
    try {
        let msg_div = document.querySelector("#alert-message")
        if (msg_div.className === "success") {
            Swal.fire({
                position: "center",
                icon: msg_div.className,
                title: msg_div.innerHTML,
                showConfirmButton: false,
                timer: 2000
            });
        } else if (msg_div.className === "error") {
            Swal.fire({
                position: "center",
                icon: msg_div.className,
                title: msg_div.innerHTML,
                showConfirmButton: false,
                timer: 2000
            });
        } else if (msg_div.className === "warning") {
            Swal.fire({
                position: "center",
                icon: msg_div.className,
                title: msg_div.innerHTML,
                showConfirmButton: false,
                timer: 2000
            });
        }
    } catch (error) {
        console.log(error)
    }
</script>

{% block js %}
    <script src="/static/assets/js/jquery.js"></script>
    <script src="/static/assets/js/blogSingleScripts.js"></script>
    <script src="/static/assets/js/swiper.min.js"></script>
    <script src="/static/assets/js/sliders.js"></script>
    <script src="/static/assets/js/main.js"></script>
    <script src="/static/assets/js/nouislider.min.js"></script>
    <script src="/static/assets/js/productOrder.js"></script>
{% endblock %}

</body>
</html>