{% extends "Layout.html" %}

{% block title %}
    ورود / ثبت نام
{% endblock %}

{% block container %}
    <main class="mt-0 md:mt-8">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-10 md:gap-8 mx-4 md:mx-32 mb-8 md:my-12 border border-zinc-200 rounded-2xl p-4 md:p-8">
            <!-- Register -->
            <form class="space-y-4 md:space-y-6" method="post">
                {% csrf_token %}
                {{ register_form.errors }}
                <div>
                    <p class="text-xs text-zinc-600 pb-3 pr-2">
                        نام و نام خانوادگی:
                    </p>
                    {{ register_form.username }}
                </div>
                <div>
                    <p class="text-xs text-zinc-600 pb-3 pr-2">
                        شماره تلفن:
                    </p>
                    {{ register_form.phone }}
                </div>
                <div>
                    <p class="text-xs text-zinc-600 pb-3 pr-2">
                        ایمیل:
                    </p>
                    {{ register_form.email }}
                </div>
                <div>
                    <p class="text-xs text-zinc-600 pb-3 pr-2">
                        رمز عبور:
                    </p>
                    {{ register_form.password }}
                </div>
                <div>
                    <input class="bg-gradient-to-bl from-primary-500 to-primary-400 hover:opacity-90 hover:shadow-lg transition rounded-xl py-2.5 md:py-3 px-10 md:px-14 text-sm text-white" type="submit" name="register" value="ثبت نام">
                </div>
            </form>
            <!-- Login -->
            <form class="space-y-4 md:space-y-6" method="post">
                {% csrf_token %}
                {{ login_form.errors }}
                <div>
                    <p class="text-xs text-zinc-600 pb-3 pr-2">
                        نام و نام خانوادگی:
                    </p>
                    {{ login_form.username }}
                </div>
                <div>
                    <p class="text-xs text-zinc-600 pb-3 pr-2">
                        ایمیل:
                    </p>
                    {{ login_form.email }}
                </div>
                <div>
                    <p class="text-xs text-zinc-600 pb-3 pr-2">
                        رمز ورود:
                    </p>
                    {{ login_form.password }}
                </div>
                <div>
                    <input class="bg-gradient-to-bl from-primary-500 to-primary-400 hover:opacity-90 hover:shadow-lg transition rounded-xl py-2.5 md:py-3 px-10 md:px-14 text-sm text-white" type="submit" name="login" value="ورود">
                </div>
            </form>
        </div>
    </main>
{% endblock %}